*{
  padding: 0;
  margin: 0;
  border-style: border-box;
}
.abol-escravatura,
.abol-escravatura * {
  box-sizing: border-box;
}
.abol-escravatura {
  background: #fff3b0;
  height: 1240px;
  position: relative;
  overflow: hidden;
}
.cabe-arioo {
  width: 1440px;
  height: 204px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.btnlivros {
  border-radius: 8px;
  width: 240px;
  height: 60px;
  position: absolute;
  left: 77px;
  top: 1045px;
  overflow: visible;
  background-color: #854d4d;
  border: none;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 137px;
  top: 1053px;
}
.aboli-o-a-escravatura {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 44px;
  top: 70px;
}
.images-1 {
  width: 406px;
  height: 295px;
  position: absolute;
  left: 734px;
  top: 905px;
  object-fit: cover;
}
.a-aboli-o-da-escravatura-no-brasil-ocorreu-em-13-de-maio-de-1888-por-meio-da-lei-urea-assinada-pela-princesa-isabel-12-este-evento-marca-o-fim-de-quase-400-anos-de-escravid-o-no-pa-s-2-o-processo-de-aboli-o-foi-gradual-e-controlado-pelo-governo-porque-as-elites-temiam-uma-rebeli-o-ou-uma-guerra-civil-2-durante-o-s-culo-xix-diversas-leis-foram-aprovadas-para-acabar-gradualmente-com-a-escravid-o-2-entre-estes-destacam-se-lei-eus-bio-de-queir-s-1850-proibia-o-tr-fico-de-escravos-da-frica-para-o-brasil-2-lei-do-ventre-livre-1871-estabeleceu-a-liberdade-para-filhos-de-escravos-nascidos-ap-s-essa-data-lei-dos-sexagen-rios-ou-lei-saraiva-cotegipe-1885-beneficia-negros-com-mais-de-60-anos-os-escravos-tamb-m-resistiram-organizaram-fugas-rebelaram-se-contra-seus-senhores-etc-a-aboli-o-da-escravatura-foi-resultado-de-um-processo-de-luta-popular-que-contou-com-o-apoio-de-parcelas-significativas-da-sociedade-brasileira-al-m-da-resist-ncia-dos-escravos-o-brasil-foi-o-ltimo-pa-s-das-am-ricas-a-abolir-a-escravid-o {
  color: #000000;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 44px;
  top: 241px;
  width: 1246px;
  height: 368px;
}
