*{
  padding: 0;
  margin: 0;
  border-style: border-box;
}

.group-9,
.group-9 * {
  box-sizing: border-box;
}
.group-9 {
  height: 1024px;
  position: relative;
}
.historiagr {
  background: #fff3b0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.cabe-arioo {
  width: 1440px;
  height: 204px;
  background-color: #854d4d;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.hist-ria-geral {
  color: #ffffff;
  background-color: #854d4d;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  padding: 25px;
  display: flex;
}
.btnlivros {
  border-radius: 8px;
  width: 388px;
  height: 60px;
  position: absolute;
  left: 31px;
  top: 554px;
  overflow: visible;
  background-color: #854d4d;
  border: none;
}
.revolu-o-francesa {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 62px;
  top: 562px;
}
.btnlivros2 {
  border-radius: 8px;
  width: 388px;
  height: 60px;
  position: absolute;
  left: 31px;
  top: 434px;
  overflow: visible;
  background-color: #854d4d;
  border: none;
}
.revolu-o-inglesa {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 439px;
}
.btnlivros3 {
  border-radius: 8px;
  width: 388px;
  height: 60px;
  position: absolute;
  left: 31px;
  top: 314px;
  overflow: visible;
  background-color: #854d4d;
  border: none;
}
.revolu-o-industria {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 67px;
  top: 323px;
}
.btnlivros4 {
  border-radius: 8px;
  width: 240px;
  height: 60px;
  position: absolute;
  left: 31px;
  top: 794px;
  overflow: visible;
  background-color: #854d4d;
  border: none;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 85px;
  top: 805px;
}
