*{
  padding: 0;
  margin: 0;
  border-style: border-box;
}
.renedes,
.renedes * {
  box-sizing: border-box;
}
.renedes {
  background: #fff3b0;
  height: 1360px;
  position: relative;
  overflow: hidden;
}
.cabe-arioo {
  width: 1440px;
  height: 204px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.btnlivros {
  border-radius: 0px;
  width: 240px;
  height: 60px;
  position: absolute;
  left: 26px;
  top: 1247px;
  overflow: visible;
}
.voltar {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 1256px;
}
.frame-2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 146px;
  top: 53px;
  overflow: hidden;
}
.ren-descartes {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 54px;
  top: 70px;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2 {
  color: #000000;
  text-align: left;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 38px;
  top: 258px;
  width: 1306px;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span2 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span3 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span4 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span5 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span6 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span7 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span8 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration: underline;
}
.ren-descartes-1596-1650-foi-um-fil-sofo-matem-tico-e-f-sico-franc-s-ele-considerado-o-criador-do-pensamento-cartesiano-um-sistema-filos-fico-que-deu-origem-filosofia-moderna-aqui-est-o-alguns-pontos-importantes-sobre-sua-vida-e-ideias-biografia-de-descartes-nasceu-em-haye-fran-a-em-31-de-mar-o-de-1596-estudou-no-col-gio-jesu-ta-royal-henry-le-grand-e-concluiu-o-curso-de-direito-na-universidade-de-poitiers-rompeu-com-a-filosofia-escol-stica-e-prop-s-uma-ci-ncia-unit-ria-e-universal-viveu-na-holanda-entre-1629-e-1649-onde-desenvolveu-trabalhos-em-matem-tica-e-filosofia-faleceu-em-11-de-fevereiro-de-1650-na-su-cia-1-ideias-filos-ficas-de-descartes-preocupava-se-com-a-clareza-e-a-ordem-prop-s-uma-filosofia-baseada-na-verdade-absoluta-e-fundamentada-no-racionalismo-desenvolveu-o-m-todo-da-d-vida-questionando-todas-as-ideias-preexistentes-para-atingir-o-conhecimento-sua-famosa-frase-penso-logo-existo-do-discurso-sobre-o-m-todo-1637-2-span9 {
  color: #000000;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.image-7 {
  width: 356px;
  height: 353px;
  position: absolute;
  left: 964px;
  top: 989px;
  object-fit: cover;
}
